In [10]:
import pandas as pd
import json

In [3]:
data = pd.read_csv('datasets/world-data-2023.csv')

In [4]:
countries_base = ["Hungary", "Slovakia", "Romania", "Poland", "Croatia", "Serbia", "Montenegro", "Albania", "Czechia", "Bulgaria", "Greece", "North Macedonia"
             , "Moldova", "Lithuania", "Latvia", "Bosnia and Herzegovina"]
countries_ref = ["Germany", "Austria", "Switzerland", "Slovenia"]

countries = countries_base + countries_ref

In [12]:
data = data.loc[data.Country.isin(countries_base)]

In [13]:
drop_col = ["Abbreviation","Calling Code", "Capital/Major City", "Currency-Code", "Official language", "Largest city"]

data.drop(drop_col, axis=1, inplace=True)

KeyError: "['Abbreviation', 'Calling Code', 'Capital/Major City', 'Currency-Code', 'Official language', 'Largest city'] not found in axis"

In [14]:
data.columns

Index(['Country', 'Density\n(P/Km2)', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Co2-Emissions',
       'CPI', 'CPI Change (%)', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Life expectancy', 'Maternal mortality ratio', 'Minimum wage',
       'Out of pocket health expenditure', 'Physicians per thousand',
       'Population', 'Population: Labor force participation (%)',
       'Tax revenue (%)', 'Total tax rate', 'Unemployment rate',
       'Urban_population', 'Latitude', 'Longitude'],
      dtype='object')

In [15]:
modifiable = ['Agricultural Land( %)',
       'Armed Forces size', 'Birth Rate',
       'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
        'Maternal mortality ratio',
       'Minimum wage', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population']

In [16]:
columns_with_properties = {
    col: {"modifiable": col in modifiable} for col in data.columns
}

In [22]:
data = data.replace({',':'', '%': '', '$': ''}, regex=True)

In [23]:
data.head()

,Country,Density\n(P/Km2),Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Co2-Emissions,CPI,CPI Change (%),Fertility Rate,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
1,Albania,105,43.10,28748,9000,11.78,4536,119.05,1.40,1.62,...,56.90,1.20,2854191,55.70,18.60,36.60,12.33,1747593,41.153332,20.168331
21,Bosnia and Herzegovina,64,43.10,51197,11000,8.11,21848,104.9,0.60,1.27,...,28.60,2.16,3301000,46.40,20.40,23.70,18.42,1605144,43.915886,17.679076
25,Bulgaria,64,46.30,110879,31000,8.90,41708,114.42,3.10,1.56,...,47.70,4.03,6975761,55.40,20.20,28.30,4.34,5256027,42.733883,25.485830
41,Croatia,73,27.60,56594,18000,9.00,17488,109.82,0.80,1.47,...,15.20,3.00,4067500,51.20,22.00,20.50,6.93,2328318,45.100000,15.200000
66,Greece,81,47.60,131957,146000,8.10,62434,101.87,0.20,1.35,...,35.50,5.48,10716322,51.80,26.20,51.90,17.24,8507474,39.074208,21.824312

In [24]:
export_data = {
    "data": data.to_dict(orient='records'),  # Data from the DataFrame
    "columns": columns_with_properties     # Column properties
}

with open("export_data.json", "w") as json_file:
    json.dump(export_data, json_file, indent=4)